textarea
{
	width:300px;
	height:300px;
	margin-bottom:3px;
	resize: none;
	padding:5px;
	background-color: rgba(0, 0, 0, 0.7);
	border:0px;
	color:white;
}

#textLineID
{
	padding:5px;
	width:300px;
	background-color: rgba(100, 100, 100, 0.7);
	border:0px;
	color:white;
}

#botInterface
{
	margin:5%;
	background:#666;
	padding:20px;
	width:312px;
	background-color: rgba(0, 0, 0, 0.7);
}

#header
{
	color:white;
	font-family:sans-serif;
	margin-bottom:15px;
}

body
{
	background-image: url("background.jpg");
	background-position:center;
	background-size:cover;
}